.new-button {
    margin: 6px 0 6px auto;
}
.background {
    height: inherit;
    opacity: 40%;
    background-color: #ff5900;
}
.control-button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
  /* height: 1vh; */
}

.control-button {
    position: fixed;
    text-indent:1.5em;
    bottom: 0;
    padding: 21px 0;
    /* opacity: 100%; */
}